body{background-color: #358597;
    }

.title
{color: #f4a896;
border: 5px solid white;
font-size: 80px;
text-align: center;
margin-top: 20px;
font-family: 'Playfair Display', serif;
padding: 5px 5px;}

.title2
{color: #f4a896;
    font-size: 50px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding: 5px 5px;}


.post1
{   font-family: 'Inter', sans-serif;
    height: 400px;
    width: 500px;
    text-align: center;
    margin: 50px auto;
    padding: 30px 30px;
    border: 5px solid #f4a896;
    background-color:#358597;
    border-radius: 50px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;} 



.post2
{   font-family: 'Inter', sans-serif;
    height: 400px;
    width: 500px;
    text-align: center;
    margin: 50px auto;
    padding: 30px 30px;
    border: 5px solid #f4a896;
    background-color:#358597;
    border-radius: 50px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;}
    
.post3
{   font-family: 'Inter', sans-serif;
    height: 400px;
    width: 500px;
    text-align: center;
    margin: 50px auto;
    padding: 30px 30px;
    border: 5px solid #f4a896;
    background-color:#358597;
    border-radius: 50px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;-webkit-background-clip: text;}
.header
{font-size: 50px;
margin-top: 0px;}

.paragraph
{font-size: 15px;
    margin-top: 10px;}

.picture
{height: 200px;
width: 300px;}