body{background-color: #358597;}

.title
{color: #f4a896;
font-size: 80px;
text-align: center;
margin-top: 50px;
font-family: 'Playfair Display', serif;
padding: 5px 5px;}

.post1
{background-color: white;
    height: 400px;
    width: 500px;
    text-align: center;
    margin: 50px auto;
    padding: 5px 5px;
    border: 5px solid #f4a896; }

.post2
{background-color: white;
    height: 400px;
    width: 500px;
    text-align: center;
    margin: 50px auto;
    padding: 5px 5px;
    border: 5px solid #f4a896;}
    
.post3
{background-color: white;
    height: 400px;
    width: 500px;
    text-align: center;
    margin: 50px auto;
    padding: 5px 5px;
    border: 5px solid #f4a896;}
